Repository containers/container-libs, pull requests merged in 2025-09, with the labels that each got.

#304 Vendor also the current c/storage and c/common into Skopeo
  .cirrus.yml
  image/contrib/cirrus/runner.sh
Labels: image

#308 bump storage to v1.60.0
  storage/VERSION
Labels: storage

#314 Fix various lint issues
  common/libnetwork/slirp4netns/const.go
  common/libnetwork/slirp4netns/const_linux.go
  common/pkg/cgroups/cgroups_unsupported.go
  common/pkg/cgroupv2/cgroups_unsupported.go
  common/pkg/config/config_unsupported.go
  common/pkg/config/default.go
  common/pkg/config/default_bsd.go
  common/pkg/config/default_darwin.go
  common/pkg/config/default_linux.go
  common/pkg/config/default_unix_notdarwin.go
  common/pkg/config/default_unsupported.go
  common/pkg/config/default_windows.go
  common/pkg/manifests/manifests_test.go
  common/pkg/seccomp/filter_linux.go
  common/pkg/seccomp/filter_linux_test.go
  common/pkg/seccomp/seccomp_unsupported.go
  common/pkg/seccomp/validate_linux.go
  common/pkg/seccomp/validate_linux_test.go
  common/pkg/timezone/timezone_unix.go
Labels: common

#302 Add additional `userns` values to containers.conf.5
  common/docs/containers.conf.5.md
  common/pkg/config/containers.conf
Labels: common
